!!!
%html
  %head
    %title E-mail
    %link{ rel: 'stylesheet', href: '/reset.css' }
    %link{ rel: 'stylesheet', href: '/email.css' }
    %link{ rel: 'stylesheet', href: '/template.css', data: { roadie_ignore: true } }

  %body
    #mail-container
      -# email content goes here
